
.demo-section[data-v-01366780] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
}
.demo-section > section[data-v-01366780] {
    border: 1px solid #e0e0e0;
    padding: 15px;
    width: 80%;
}
.demo-section > h4[data-v-01366780] {
    font-weight: bold;
    margin-bottom: 20px;
}
.demo-title[data-v-01366780] {
    color: #9e9e9e;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 15px;
}
h2[data-v-01366780] {
    font-weight: normal;
}
label[data-v-01366780]{
    margin-top: 20px;
    margin-bottom: 4px;
}

.flyout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}



















































































































.demo-section[data-v-06977089] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
}
.demo-section > section[data-v-06977089] {
    border: 1px solid #e0e0e0;
    padding: 15px;
    width: 80%;
}
.demo-section > h4[data-v-06977089] {
    font-weight: bold;
    margin-bottom: 20px;
}
.demo-title[data-v-06977089] {
    color: #9e9e9e;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 15px;
}
h2[data-v-06977089] {
    font-weight: normal;
}
label[data-v-06977089]{
    margin-top: 20px;
    margin-bottom: 4px;
}
.margin-buttom[data-v-06977089] {
    margin-left: -15px;
    height: 100%;
}
.margin-icon[data-v-06977089] {
    margin-top: 20%;
    margin-left: 35%;
}  

.demo-section[data-v-dbfb3a8e] {
  padding: 20px 0;
}
.demo-section > section[data-v-dbfb3a8e] {
    border: 1px solid #e0e0e0;
    padding: 15px;
}
.demo-section > h4[data-v-dbfb3a8e] {
    font-weight: bold;
    margin-bottom: 20px;
}
.demo-title[data-v-dbfb3a8e] {
    color: #9e9e9e;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 15px;
}

.demo-section[data-v-15334c1c] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
}
.demo-section > section[data-v-15334c1c] {
    border: 1px solid #e0e0e0;
    padding: 15px;
    width: 80%;
}
.demo-section > h4[data-v-15334c1c] {
    font-weight: bold;
    margin-bottom: 20px;
}
.demo-title[data-v-15334c1c] {
    color: #9e9e9e;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 15px;
}
h2[data-v-15334c1c] {
    font-weight: normal;
}
label[data-v-15334c1c]{
    margin-top: 20px;
    margin-bottom: 4px;
}
.margin-buttom[data-v-15334c1c] {
    margin-left: -15px;
    height: 100%;
}
.margin-icon[data-v-15334c1c] {
    margin-top: 8px;
    margin-left: 13px;
}  

.demo-section[data-v-42292cde] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
}
.demo-section > section[data-v-42292cde] {
    border: 1px solid #e0e0e0;
    padding: 15px;
    width: 80%;
}
.demo-section > h4[data-v-42292cde] {
    font-weight: bold;
    margin-bottom: 20px;
}
.demo-title[data-v-42292cde] {
    color: #9e9e9e;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 15px;
}
label[data-v-42292cde]{
    margin-top: 20px;
    margin-bottom: 4px;
}  

.demo-section[data-v-0474523c] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
}
.demo-section > section[data-v-0474523c] {
    border: 1px solid #e0e0e0;
    padding: 15px;
    width: 80%;
}
.demo-section > h4[data-v-0474523c] {
    font-weight: bold;
    margin-bottom: 20px;
}
.demo-title[data-v-0474523c] {
    color: #9e9e9e;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 15px;
}
h2[data-v-0474523c] {
    font-weight: normal;
}
label[data-v-0474523c]{
    margin-top: 20px;
    margin-bottom: 4px;
}

.demo-section[data-v-12d27c31] {
    padding: 20px 0;
}
.demo-section > section[data-v-12d27c31] {
    border: 1px solid #e0e0e0;
    padding: 15px;
}
.demo-section > h4[data-v-12d27c31] {
    font-weight: bold;
    margin-bottom: 20px;
}
.demo-title[data-v-12d27c31] {
    color: #9e9e9e;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 15px;
}  

.demo-section[data-v-58144641] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
}
.demo-section > section[data-v-58144641] {
    border: 1px solid #e0e0e0;
    padding: 15px;
    width: 80%;
}
.demo-section > h4[data-v-58144641] {
    font-weight: bold;
    margin-bottom: 20px;
}
.demo-title[data-v-58144641] {
    color: #9e9e9e;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 15px;
}
.demo-title-small[data-v-58144641] {
    color: #9e9e9e;
    font-weight: 400;
    margin-bottom: -10px;
    margin-top: 30px;
}
.margin-label[data-v-58144641]{
    margin-top: 20px;
    margin-bottom: 4px;
} 

.card-header {
  background: #35a0d9;
}
.color {
  color: white;
}
.demo-section {
  padding: 20px 0;
}
.demo-section > section {
  border: 1px solid #e0e0e0;
  padding: 15px;
}
.demo-section > h4 {
  font-weight: bold;
  margin-bottom: 20px;
}
.demo-title {
  color: #9e9e9e;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 15px;
}
.margin-text {
  margin-bottom: 0px;
}

.demo-section[data-v-333d949d] {
    padding: 20px 0;
}
.demo-section > section[data-v-333d949d] {
    border: 1px solid #e0e0e0;
    padding: 15px;
}
.demo-section > h4[data-v-333d949d] {
    font-weight: bold;
    margin-bottom: 20px;
}
.demo-title[data-v-333d949d] {
    color: #9e9e9e;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 15px;
}
h2[data-v-333d949d] {
    font-weight: normal;
}
.view[data-v-333d949d] {
    background: url("/static/img/index2.9658309.9658309ccc6f.jpg")no-repeat center center;
    background-size: cover;
    height: 100%;
}    

a[data-v-57da1839] {
  color: #42b983;
}

/*# sourceMappingURL=app.6824096f0950f0e9031c.css.map*/